@import './_logo.scss';
@import './_burger.scss';

header {
    @include size($x: 100vw);
    transition: all ease-in-out 0.2s;
    box-sizing: border-box;
    min-width: 335px;

    @media (max-width: 767px) {
        @include size($y: 128px);
        padding: 0 32px;
    }

    @media (min-width: 768px) {
        @include size($y: 56px);
        margin-top: 39.51px;
        padding: 0 50px;
    }
    
    @media (min-width: 1025px) {
        @include size($y: 64px);
        margin-top: 64px;
        padding: 0 72px;
    }

    nav {
        @include size(100%, 100%);
        @include flex();

        .links-div {
            @include flex();
            
            @media (max-width: 767px) {
                display: none;
            }

            @media (min-width: 768px) {
                @include size(37.4377%, 22px);
            }
            
            @media (min-width: 1025px) {
                @include size(30.2469%, 24px);
            }

            a {
                color: inherit;
                text-decoration: none;

                @media (min-width: 768px) {
                    @include font($size: 16px, $lineHeight: 22px, $weight: 600);
                }
                
                @media (min-width: 1025px) {
                    @include font($size: 18px, $lineHeight: 24px, $weight: 600);
                }

                &:hover {
                    color: $primary;
                }

                &:nth-child(4) {
                    @include flex();

                    @media (min-width: 768px) {
                        @include size(66.8px, 32.51px);
                    }
                    
                    @media (min-width: 1025px) {
                        @include size(72px, 36px);
                    }

                    div {
                        @include size(24px, 24px);
                        @include font($size: 14px, $lineHeight: 18px, $weight: 600);
                        @include flex($just: center);
                        align-self: flex-start;
                        color: white;
                        border-radius: 50%;
                        background: linear-gradient(180deg, #3A8FFF 0%, #0837AE 100%);
                    }
                }
            }
        }

        .contact-btn {
            border-radius: 8px;
            background-color: $dark;
            border-color: transparent;
            color: white;

            &:hover {
                cursor: pointer;
                background-color: $primary;
            }

            @media (max-width: 767px) {
                display: none;
            }
            
            @media (min-width: 768px) {
                @include size(17.3122%, 56px);
                @include font($size: 16px, $lineHeight: 22px, $weight: 600);
            }
            
            @media (min-width: 1025px) {
                @include size(13.8888%, 64px);
                @include font($size: 18px, $lineHeight: 24px, $weight: 800);
            }
        }
    }
}

.large-nav {
    display: none;
}

/*

.changeHeader {
    position: fixed;

    .logoTxt {
        filter: brightness(0) invert(1);
    }
        
    .bars {
        filter: brightness(0) invert(1);
        &:nth-child(1) {
            transform: rotate(45deg) translate(0px, 5.5px);              
        }
                
        &:nth-child(2) {
            transform: rotate(-45deg) translate(0px, -5.5px);   
        }
    }
}

*/