@import '../abstract/_variables.scss';

header {
    @include sizeWH (100vw, 128px);
    z-index: 999;
    background-color: white;
    top: 0;
    position: fixed;
    display: flex;
    nav {
        z-index: 5;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo-div {
            @include sizeWH (127.2px, 32px);
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-left: 32px;

            .logoSymbol {
                @include sizeWH (32px, 32px);
            }

            .logoTxt {
                @include sizeWH (66.4px, 23.87px);
                margin-right: 16px;
            }
        }

        .burger-menu {
            @include sizeWH (32px, 12px);
            margin-right: 32px;
        }
    }
}