@import '../abstract/_variables.scss';

$headerBG: white;
$menuDisplay: none;

header {
    @include sizeWH (100vw, 128px);
    z-index: 5;
    background-color: $headerBG;
    top: 0;
    position: fixed;
    display: flex;

    .mobile_closed_menu-nav {
        display: flex;
    }

    .mobile_closed_menu-nav, .mobile_open_menu-nav {
        @include sizeWH (100%, 128px);
        z-index: 5;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo-div {
            @include sizeWH (127.2px, 32px);
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-left: 32px;
            cursor: pointer;

            .logoSymbol {
                @include sizeWH (32px, 32px);
            }

            .logoTxt {
                @include sizeWH (66.4px, 23.87px);
                margin-right: 16px;
            }
        }

        .burger-menu {
            @include sizeWH (32px, 12px);
            cursor: pointer;
            margin-right: 32px;

            &:hover {
                $menuDisplay: flex;
            }
        }
    }
    
    .mobile_open_menu_container-div {
        @include sizeWH (375px, 812px);
        display: $menuDisplay;
        z-index: 998;
        position: absolute;
        background-color: $dark;
        flex-direction: column;
        align-items: flex-start;

        .burger-menu {
            cursor: pointer;
            height: 32px;
            $menuDisplay: none;
        }

        .mobile_open_menu_items-ul {
            @include sizeWH (122px, 280px);
            @include column_spaceBetween;
            margin: 138px 0px 0px 32px;
            padding: 0;
            list-style: none;

            li {
                @include font_WeightSizeLineHeight (700, 32px, 40px);
                height: 40px;
                margin: 0;
                font-family: $display_bold;
                letter-spacing: -0.5px;
                color: $shade_mobile_menu;
                transition: all ease-in-out 0.1s;

                &:hover {
                    color: white;
                    cursor: pointer;
                }

                &:nth-child(1) {
                    height: 41px;
                }
                
                &:nth-child(4) {
                    height: 41px;
                }
            }

        }

        .bottom_icons-div {
            @include row_spaceBetween;
            @include sizeWH (184px, 40px);
            margin: 146px 0px 0px 46px;

            img {
                @include sizeWH (40px, 40px);

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}
