.hero-article {

    .Container-div {
        z-index: 4;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 311px;
        height: 356px;

        .typography-div {
            height: 276px;

            .Title-h1 {
                margin: 0;
                height: 168px;
                left: 0%;
                right: 0%;
                font-family: 'SF Pro Display';
                font-weight: 700;
                font-size: 48px;
                line-height: 56px;
                letter-spacing: -0.5px;
                color: #232340;
                margin-bottom: 24px;
            }
    
            .Text-p {
                font-family: 'SF Pro Display';
                font-weight: 400;
                font-size: 16px;
                line-height: 28px;
                color: #606060;
            }
        }

        .recentWork-btn {
            background-color: #5468E7;
            border: none;
            border-radius: 8px;
            width: 160px;
            height: 56px;
            color: white;
            font-family: 'SF Pro Display';
            font-size: 16px;
            line-height: 22px;
            letter-spacing: 0px;
            text-align: center;
        }
    }      
    img {
        position: absolute;
        overflow: hidden;
    }

    .heroPath-img {
        z-index: 1;
        width: 456.68px;
        height: 582.58px;
        margin-left: 176px;
        top: -15.31px;
    }

    .heroBg-img {
        z-index: 2;
        width: 287px;
        height: 363.51px;
        margin-left: 155px;
        top: 448.77px;
    }

    .heroGraphic-img {
        z-index: 3;
        width: 725px;
        height: 515.56px;
        margin-left: -217px;
        top: 337px;
    }
}