@import '../abstract/_variables.scss';

.whatWeDo-article {
    height: 1216px;

    .Container-div {
        @include column_spaceBetween;
        @include sizeWH (227px, 304px);

        .text-div {
            @include column_spaceBetween;
            height: 234px;

            .pageIndicator-span {
                @include row_spaceBetween;
                @include pageIndicator;
                color: $primary;
            }
    
            .Title-h1 {
                @include font_WeightSizeLineHeight (700, 40px, 48px);
                @include sizeWH (227px, 192px);
                margin: 0;
                letter-spacing: -0.4px;
                color: $dark;
            }
        }

        .arrow-span {
            @include sizeWH (108px, 46px);
            display: flex;
            justify-content: right;
            margin-top: 24px;

            img {
                @include sizeWH (46px, 46px);
            }
        }
    }

    .serviceCard-div {
        @include font_WeightSizeLineHeight (600, 18px, 24px);
        @include sizeWH (311px, 856px);
        display: flex;
        flex-direction: column;
        margin-top: 56px;
        text-align: left;
        color: $primary;

        .serviceContainer-div {
            @include sizeWH (311px, 214px);
            display: flex;
            align-items: flex-start;

            .serviceBG-div {
                @include sizeWH (311px, 190px);
                @include row_alignCenter;
                border-radius: 32px;
                transition: all ease-in-out 0.1s;

                &:hover {
                    background-color: $primary;
                    color: white;
                    cursor: pointer;
                }

                .service-div {
                    @include sizeWH (185px, 91.02px);
                    @include row_alignCenter;
                    justify-content: left;
                    margin-left: 48px;

                    img {
                        @include sizeWH (91.02px, 91.02px);
                        margin-right: 24px;
                    }

                    .serviceText-span {
                        height: 24px;
                        color: inherit;
                    }
                }
            }
        }
    }
}