@import '../abstract/_variables.scss';

.famousProjects-section {
    height: 3484px;

    .Container-div {
        @include column_spaceBetween;
        @include sizeWH(311px, 238px);

        .indicator_title-div {
            @include column_spaceBetween;
            @include sizeWH(255px, 139px);
            text-align: left;

            .pageIndicator-span {
                @include row_spaceBetween;
                @include pageIndicator;
                width: 161px;
                color: $primary;
            }
    
            .Title-h1 {
                @include font_WeightSizeLineHeight (700, 40px, 48px);
                @include sizeWH (255px, 96px);
                margin: 0;
                letter-spacing: -0.4px;
                font-family: $display_bold;
                color: $dark;
            }
        }

        .parag-p {
            @include font_WeightSizeLineHeight (400, 16px, 28px);
            @include sizeWH (311px, 86px);
            font-family: $display_regular;
            text-align: left;
            margin: 0;
            color: $body_light;
        }
    }

    .portfolios-container {
        @include column_spaceBetween;
        @include sizeWH (313px, 3047.56px);
        margin-top: 56px;

        .portfolio-div {
            @include sizeWH (313px, 583.56px);
            
            .imgContainer-div {
                @include sizeWH (311px, 355.56px);
                display: flex;
                flex-direction: column;
                justify-content: center;
                border-radius: 17.0667px;
            }

            .text-div {
                @include column_spaceBetween;
                width: 312px;

                .title {
                    display: flex;
                    @include font_WeightSizeLineHeight (700, 24px, 32px);
                    @include sizeWH (312px, 32px);
                    letter-spacing: -0.2px;
                    color: $dark;
                }

                p {
                    @include font_WeightSizeLineHeight (400, 16px, 28px);
                    @include sizeWH (228px, 84px);
                    font-family: $display_regular;
                    color: $body_light;
                    margin: 0
                }
            }

            .arrow {
                @include sizeWH(48px, 48px);
                margin-top: 24px;
            }

            &:nth-child(1) {
                width: 312.11px;

                .imgContainer-div {
                    background-color: $accent_2;
                }

                .portfolioImg {
                    @include sizeWH (311px, 313px);
                }

                .text-div {
                    margin-top: 29.44px;
                    height: 126.56px;
                }
            }
            
            &:nth-child(2) {
                width: 312.11px;

                .imgContainer-div {
                    background-color: $shade_2;
                }

                .portfolioImgg {
                    @include sizeWH (311px, 309px);
                }
                
                .text-div {
                    margin-top: 34.44px;
                    height: 121.56px;
                }
            }

            &:nth-child(3) {

                .imgContainer-div {
                    background-color: $shade_6;
                }

                .portfolioImg {
                    @include sizeWH (311px, 321px);
                }

                .text-div {
                    margin-top: 39.44px;
                    height: 116.56px;
                }
            }

            &:nth-child(4) {
                
                .imgContainer-div {
                    background-color: $shade_1;
                }

                .portfolioImg {
                    @include sizeWH (311px, 345px);
                }
                
                .text-div {
                    margin-top: 49.44px;
                    height: 111.56px;
                }
            }

            &:nth-child(5) {
                
                .imgContainer-div {
                    background-color: $accent_2;
                }

                .portfolioImg {
                    @include sizeWH (311px, 306px);
                }

                .text-div {
                    margin-top: 49.44px;
                    height: 106.56px;
                }
            }
        }
    }

    .contactUs-btn {
        @include font_WeightSizeLineHeight (600, 16px, 22px);
        @include sizeWH (313px, 46px);
        margin-top: 48.44px;
        background-color: $primary;
        color: white;
        border: none;
        border-radius: 8px;
    }
}