@import './_variables.scss';
@import './_hero-media.scss';

.linesMobile {
    @include linesMobile-media;
    position: absolute;
    top: 0;
    right: 0;
}

.linesTablet {
    @include linesTablet-media;
    position: absolute;
    top: 0;
    left: 228.27px;
    display: none;
}

.linesDesktop {
    @include linesDesktop-media;
    position: absolute;
    top: 0;
    left: 321px;
    display: none;
}

.heroBG {
    @include heroBG-media;
    @include sizeWH (327px, 363px);
    right: 0;
    bottom: 0;
    top: 448.77px;
    position: absolute;
}

.heroBG_tablet {
    @include heroBG_tablet-media;
    @include sizeWH (361.33px, 313.42px);
    position: absolute;
    display: none;
}

.heroBG_desktop {
    @include heroBG_desktop-media;
    @include sizeWH (327px, 363px);
    position: absolute;
    display: none;
}

.hero-section {

    .hero_content-div {
        @include hero_content-media;
        display: flex;
        flex-direction: column;
        z-index: 4;

        .typography-div {
            @include typography-media;
            height: 276px;

            .Title-h1 {
                @include title-media;
                @include font_WeightSizeLineHeight (700, 48px, 56px);
                color: $dark;
                margin: 0;
                height: 168px;
                letter-spacing: -0.5px;
                margin-bottom: 24px;
                clear: both;
            }
    
            .text-p {
                @include text-media;
                @include font_WeightSizeLineHeight (400, 16px, 28px);
                font-family: $display_regular;
                color: $body_light;
                margin: 0;

                .mobile-br {
                    @media only screen and (min-width: 1025px) {
                        display: none;
                    }
                    display: inherit;
                }

                .desktop-br {
                    @media only screen and (min-width: 1025px) {
                        display: inherit;
                    }
                    display: none;
                }
            }
        }

        .recentWork-btn {
            @include recentWork-media;
            @include font_WeightSizeLineHeight (600, 16px, 22px);
            @include sizeWH (160px, 56px);
            color: white;
            border: none;
            text-align: center;
            background-color: $primary;
            border-radius: 8px;
            letter-spacing: 0px;
            margin-top: 24px;
        }

        .swipe-div {
            @include swipe-media;
            @include sizeWH (150px, 44px);
            background-color: red;
            display: none;
        }
    }      
    img {
        position: absolute;
        overflow: hidden;
    }
}