@import './_variables.scss';

.job-article {
    overflow: hidden;
    height: 1042px;

    .jobsBG {
        top: 0;
        position: absolute;
        background-image: url('../img/backgrounds/job/bg.svg');
        width: 100%;
        height: 1170px;
    }

    .weAreHiring-section {
        .Container-div {
            z-index: 1;
            @include column_spaceBetween;
            @include sizeWH (311px, 198px);

            .text-div {
                @include column_spaceBetween;
                @include sizeWH (227px, 91px);

                .pageIndicator-span {
                    @include row_spaceBetween;
                    @include pageIndicator;
                    @include sizeWH (138px, 18px);
                    color: $primary;
                }
        
                .Title-h1 {
                    @include font_WeightSizeLineHeight (700, 40px, 48px);
                    @include sizeWH (227px, 48px);
                    margin: 0;
                    letter-spacing: -0.4px;
                    color: $dark;
                }
            }
        }

        .parag-p {
            @include font_WeightSizeLineHeight (400, 16px, 28px);
            @include sizeWH (311px, 84px);
            font-family: $display_regular;
            text-align: left;
            margin: 0;
            color: $body_light;
        }

        .jobsContainer-div {
            z-index: 1;
            @include sizeWH (343px, 764px);
            margin-top: 48px;
            display: flex;
            flex-direction: column;
            align-items: left;

            .jobCard {
                @include sizeWH (311px, 191px);
                display: flex;
                flex-direction: column;
                justify-content: flex-start;

                .jobBG {
                    @include sizeWH (311px, 175px);
                    background: #FFFFFF;
                    border-radius: 24px;
                    transition: all ease-in-out 0.1s;

                    .text {
                        @include sizeWH (187px, 64px);
                        display: flex;
                        flex-direction: column;
                        margin-top: 45.61px;
                        margin-left: 40px;

                        .parag-p {
                            @include sizeWH (126px, 28px);
                        }

                        .jobName {
                            @include sizeWH (187px, 32px);
                            @include font_WeightSizeLineHeight (700, 24px, 32px);
                            letter-spacing: -0.2px;
                            color: inherit;
                        }
                    }

                    img {
                        @include sizeWH (9.96px, 14.22px);
                        margin-top: 10.67px;
                        margin-left: 40px;
                    }

                    .textNotification {
                        @include row_spaceBetween;
                        width: 226px;

                        .notification {
                            @include sizeWH (24px, 24px);
                            margin: 7px 0 0 15px;
                            align-self: center;
                        }
                    }
                }

                &:nth-child(2) {
                    width: 414px;

                    .jobBG {
                        width: 414px;
                        background-image: url('../img/backgrounds/job/visual_designer.svg');
                        color: white;
    
                        .parag-p {
                            color: $body_dark;
                        }
    
                        img {
                            filter: brightness(0) invert(1);
                        }
                    }
                }

                &:nth-child(1) {
                    .text {
                        @include sizeWH (187px, 64px);
                    }
                }

                &:nth-child(2) {
                    .text {
                        @include sizeWH (156px, 56px);
                    }
                }

                &:nth-child(3) {
                    .text {
                        @include sizeWH (126px, 64px);
                    }
                }

                &:nth-child(4) {

                    .text {
                        @include sizeWH (151px, 64px);
                    }
                }

            }
        }
    }
}