.contactUsTablet-btn {
    @include font_WeightSizeLineHeight (600, 16px, 22px);
    @include sizeWH (118.04px, 45.51px);
    background-color: $primary;
    color: white;
    border: none;
    border-radius: 8px;
    display: none;
    margin-left: 77px;
    margin-top: 61.6px;
    @media only screen and (min-width: 768px) {
        display: inherit;
    }
    
    @media only screen and (min-width: 1025px) {
        @include font_WeightSizeLineHeight (700, 18px, 24px);
        @include sizeWH (166px, 64px);
        margin-left: 136px;
        margin-top: 49px;
    }
}

h1 {
    br {
        @media only screen and (min-width: 768px) {
            display: none;
        }
        display: inherit;
    }
}

@mixin container_div-media {
    @media only screen and (min-width: 768px) {
        @include sizeWH(821.04px, 243px);
        margin-left: 107px;
    }
    
    @media only screen and (min-width: 1025px) {
        @include sizeWH(1170px, 252px);
        margin-left: 135px;
    }
}

@mixin text_n_buttons-media {
    @media only screen and (max-width: 767px) {
        @include sizeWH(311px, 238px);
        margin: 0;
    }
}

@mixin title_div-media {
    @media only screen and (min-width: 768px) {
        @include sizeWH(485px, 148.29px);
    }
    
    @media only screen and (min-width: 1025px) {
        @include sizeWH(668px, 100px);
    }
}

@mixin title-media {
    @media only screen and (min-width: 768px) {
        @include font_WeightSizeLineHeight (700, 64px, 72px);
        @include sizeWH (485px, 72px);
    }
    
    @media only screen and (min-width: 1025px) {
        @include font_WeightSizeLineHeight (700, 84px, 100.24px);
        @include sizeWH (668px, 100px);
    }
}

@mixin parag-media {
    @media only screen and (min-width: 768px) {
        @include font_WeightSizeLineHeight (400, 16px, 28px);
        @include sizeWH (329px, 84px);
    }
    
    @media only screen and (min-width: 1025px) {
        @include font_WeightSizeLineHeight (400, 18px, 32px);
        @include sizeWH (467px, 64px);
        margin-top: 40px;
    }
}

@mixin famousProjects_section-media {
    @media only screen and (max-width: 375px) {
        margin-left: 32px;
    }
}


@mixin  portfolios-media {
    @media only screen and (min-width: 768px) {
        @include sizeWH (911.47px, 2020.93px);
        margin-left: 47.11px;
    }
    
    @media only screen and (min-width: 1025px) {
        @include sizeWH (1350px, 2752px);
        margin-left: 55px;
    }
}

@mixin portfolio1-media {
    .portfolioImg {
        @include sizeWH (470px, 370px);
    }
}
