@import './_variables.scss';
@import './_work-portfolios.scss';
@import './_work-cta.scss';
@import './_work-media.scss';

.work-article {
    @media only screen and (min-width: 768px) {
        margin-top: 150px;
    }
}

.famousProjects-section {
    @include famousProjects_section-media;
    margin: 0;
    height: 3484px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .Container-div {
        @include column_spaceBetween;
        @include sizeWH(311px, 238px);

        .indicator_title-div {
            @include column_spaceBetween;
            @include sizeWH(255px, 139px);
            text-align: left;

            .pageIndicator-span {
                @include row_spaceBetween;
                @include pageIndicator;
                width: 161px;
                color: $primary;
            }
    
            .Title-h1 {
                @include title-media;
                @include font_WeightSizeLineHeight (700, 40px, 48px);
                @include sizeWH (255px, 96px);
                margin: 0;
                letter-spacing: -0.4px;
                font-family: $display_bold;
                color: $dark;
            }
        }

        .parag-p {
            @include parag-media;
            @include font_WeightSizeLineHeight (400, 16px, 28px);
            @include sizeWH (311px, 86px);
            font-family: $display_regular;
            text-align: left;
            margin: 0;
            color: $body_light;

            .mobile-br {
                @media only screen and (min-width: 768px) {
                    display: none;
                }
                display: inherit;
            }

            .desktop-br {
                @media only screen and (min-width: 768px) {
                    display: inherit;
                }
                display: none;
            }
        }
    }

    .contactUs-btn {
        @include font_WeightSizeLineHeight (600, 16px, 22px);
        @include sizeWH (313px, 46px);
        margin-top: 48.44px;
        background-color: $primary;
        color: white;
        border: none;
        border-radius: 8px;
    }
}