@import './_variables.scss';
@import './_work-portfolios.scss';
@import './_work-cta.scss';
@import './_work-media.scss';

.work-article {
    @media only screen and (min-width: 768px) {
        margin-top: 200px;
    }
}

.famousProjects-section {
    @include famousProjects_section-media;
    margin: 0;
    display: flex;
    flex-direction: column;
    @media only screen and (max-width: 767px) {
        align-items: center;
    }

    .linesBG_Work {
        position: absolute;
        background-size: cover;
        @media only screen and (max-width: 767px) {
            display: none;
        }
    }

    .Container-div {
        @include container_div-media;
        @include column_spaceBetween;
        @include sizeWH(311px, 238px);
        z-index: 1;

        .text_n_buttons {
            @include text_n_buttons-media;
            @include sizeWH(821px, 243px);
            display: flex;

            img {
                @include sizeWH(24px, 24px);
                display: none;
                @media only screen and (min-width: 767px) {
                    display: inherit;
                }
            }

            button {
                @include sizeWH(118.04px, 45.51px);
                @include font_WeightSizeLineHeight (600, 16px, 22px);
                display: none;
                @media only screen and (min-width: 767px) {
                    font-family: $display_bold;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                
                @media only screen and (min-width: 1025px) {
                    @include sizeWH(166px, 64px);
                    @include font_WeightSizeLineHeight (700, 18px, 24px);
                }
            }

            .title_n_parag {
                margin-left: 0;
                @media only screen and (min-width: 768px) {
                    margin-left: 107px;
                }
                
                @media only screen and (min-width: 1025px) {
                    margin-left: 176px;
                }
            }
        }

        .indicator_title-div {
            @include title_div-media;
            @include column_spaceBetween;
            @include sizeWH(255px, 139px);
            text-align: left;

            .pageIndicator-span {
                @include row_spaceBetween;
                @include pageIndicator;
                width: 161px;
                color: $primary;

                @media only screen and (min-width: 1025px) {
                    width: 184px;
                }
            }
    
            .Title-h1 {
                @include title-media;
                @include font_WeightSizeLineHeight (700, 40px, 48px);
                @include sizeWH (255px, 96px);
                margin: 0;
                letter-spacing: -0.4px;
                font-family: $display_bold;
                color: $dark;
            }
        }

        .parag-p {
            @include parag-media;
            @include font_WeightSizeLineHeight (400, 16px, 28px);
            @include sizeWH (311px, 86px);
            font-family: $display_regular;
            text-align: left;
            margin: 0;
            color: $body_light;

            .mobile-br {
                @media only screen and (min-width: 768px) {
                    display: none;
                }
                display: inherit;
            }

            .desktop-br {
                @media only screen and (min-width: 768px) {
                    display: inherit;
                }
                display: none;
            }
        }
    }

    .contactUs-btn {
        @include font_WeightSizeLineHeight (600, 16px, 22px);
        @include sizeWH (313px, 46px);
        margin-top: 48.44px;
        background-color: $primary;
        color: white;
        border: none;
        border-radius: 8px;
        text-align: center;
        @media only screen and (min-width: 768px) {
            display: none;
        }
    }
}