@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SF_Pro_display/SF-Pro-Display-Bold.ttf');
}

@font-face {
    font-family: 'SF Pro Display Regular';
    src: url('../fonts/SF_Pro_display/SF-Pro-Display-Regular.ttf');
}
    
@font-face {
    font-family: 'SF Pro Text';
    src: url('../fonts/SF_Pro_display/sf-pro-text-regular.ttf');
}

@import './components/_header.scss';
@import './components/_hero.scss';
@import './components/_whatWeDo.scss';
@import './components/_achievement.scss';

body {
    margin: 0;
    font-family: 'SF Pro Display';
}

main {

    section {

        margin-top: 128px;

        article {
            margin-left: 32px;
            display: flex;
            flex-direction: column;
        }
    }

    .hero-section {
        height: 684px;
    }

    .services-section {
        height: 1691px;
    }
}