@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SF_Pro_display/SF-Pro-Display-Bold.ttf');
}

@font-face {
    font-family: 'SF Pro Display Regular';
    src: url('../fonts/SF_Pro_display/SF-Pro-Display-Regular.ttf');
}
    
@font-face {
    font-family: 'SF Pro Text';
    src: url('../fonts/SF_Pro_display/sf-pro-text-regular.ttf');
}

@import './abstract/_variables.scss';
@import './components/header/_header.scss';
@import './components/_hero.scss';
@import './components/_services.scss';
@import './components/_achievement.scss';
@import './components/work/_work.scss';
@import './components/_job.scss';

body {
    margin: 0;
    font-family: $display_bold;
}

main {
    
    article {
        margin-top: 128px;

        section {
            margin-left: 32px;
            display: flex;
            flex-direction: column;
        }
    }

    .hero-article {
        height: 684px;
    }
    
    .cta-article {
        height: 977px;
    }

    .services-article {
        height: 1691px;
    }
}