@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SF_Pro_display/SF-Pro-Display-Bold.ttf');
}

@font-face {
    font-family: 'SF Pro Display Regular';
    src: url('../fonts/SF_Pro_display/SF-Pro-Display-Regular.ttf');
}
    
@font-face {
    font-family: 'SF Pro Text';
    src: url('../fonts/SF_Pro_display/sf-pro-text-regular.ttf');
}

@import './_variables.scss';
@import './_header-index.scss';
@import './_hero-index.scss';
@import './_services-index.scss';
@import './_work-index.scss';
@import './_job-index.scss';
@import './_footer-index.scss';

body {
    margin: 0;
    font-family: $display_bold;
}

main {
    
    article {
        @media only screen and (min-width: 1025px) {
            margin-top: 238px;
        }
        margin-top: 128px;

        section {
            @media only screen and (min-width: 768px) {
                margin-left: 107px;
                margin-top: 169px;
            }
            @media only screen and (min-width: 1025px) {
                margin-left: 174.8px;
            }
            margin-left: 32px;
            display: flex;
            flex-direction: column;
        }
    }

    .services-article {
        height: 1691px;
    }

    .footer-article {
        height: 977px;
    }
}