@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SF_Pro_display/SF-Pro-Display-Bold.ttf");
}
@font-face {
  font-family: "SF Pro Display Regular";
  src: url("../fonts/SF_Pro_display/SF-Pro-Display-Regular.ttf");
}
@font-face {
  font-family: "SF Pro Text";
  src: url("../fonts/SF_Pro_display/sf-pro-text-regular.ttf");
}
header {
  z-index: 999;
  background-color: white;
  top: 0;
  position: fixed;
  display: flex;
  height: 128px;
  width: 100vw;
}
header nav {
  z-index: 5;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .logo-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 32px;
  width: 127.2px;
  height: 32px;
}
header nav .logo-div .logoSymbol {
  width: 32px;
  height: 32px;
}
header nav .logo-div .logoTxt {
  width: 66.4px;
  height: 23.87px;
  margin-right: 16px;
}
header nav .burger-menu {
  width: 32px;
  height: 12px;
  margin-right: 32px;
}

.hero-article .Container-div {
  z-index: 4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 311px;
  height: 356px;
}
.hero-article .Container-div .typography-div {
  height: 276px;
}
.hero-article .Container-div .typography-div .Title-h1 {
  margin: 0;
  height: 168px;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.5px;
  color: #232340;
  margin-bottom: 24px;
}
.hero-article .Container-div .typography-div .Text-p {
  font-family: "SF Pro Display Regular";
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #606060;
}
.hero-article .Container-div .recentWork-btn {
  background-color: #5468E7;
  border: none;
  border-radius: 8px;
  width: 160px;
  height: 56px;
  color: white;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
}
.hero-article img {
  position: absolute;
  overflow: hidden;
}
.hero-article .heroPath-img {
  z-index: 1;
  width: 456.68px;
  height: 582.58px;
  margin-left: 176px;
  top: -15.31px;
}
.hero-article .heroBg-img {
  z-index: 2;
  width: 287px;
  height: 363.51px;
  margin-left: 155px;
  top: 448.77px;
}
.hero-article .heroGraphic-img {
  z-index: 3;
  width: 725px;
  height: 515.56px;
  margin-left: -217px;
  top: 337px;
}

.whatWeDo-article {
  height: 1216px;
}
.whatWeDo-article .Container-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 227px;
  height: 304px;
}
.whatWeDo-article .Container-div .text-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 234px;
}
.whatWeDo-article .Container-div .text-div .pageIndicator-span {
  font-family: "SF Pro Text";
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #5468E7;
  width: 131px;
  height: 18px;
  display: flex;
  justify-content: space-between;
}
.whatWeDo-article .Container-div .text-div .Title-h1 {
  margin: 0;
  width: 227px;
  height: 192px;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.4px;
  color: #232340;
}
.whatWeDo-article .Container-div .arrow-span {
  margin-top: 24px;
  display: flex;
  justify-content: right;
  width: 108px;
  height: 46px;
}
.whatWeDo-article .Container-div .arrow-span img {
  width: 46px;
  height: 46px;
}
.whatWeDo-article .serviceCard-div {
  display: flex;
  flex-direction: column;
  margin-top: 56px;
  width: 311px;
  height: 856px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #5468E7;
}
.whatWeDo-article .serviceCard-div .serviceContainer-div {
  display: flex;
  align-items: flex-start;
  width: 311px;
  height: 214px;
}
.whatWeDo-article .serviceCard-div .serviceContainer-div .serviceBG-div {
  display: flex;
  align-items: center;
  border-radius: 32px;
  width: 311px;
  height: 190px;
  transition: all ease-in-out 0.1s;
}
.whatWeDo-article .serviceCard-div .serviceContainer-div .serviceBG-div:hover {
  background-color: #5468E7;
  color: white;
}
.whatWeDo-article .serviceCard-div .serviceContainer-div .serviceBG-div .service-div {
  margin-left: 48px;
  display: flex;
  align-items: center;
  justify-content: left;
  width: 185px;
  height: 91.02px;
}
.whatWeDo-article .serviceCard-div .serviceContainer-div .serviceBG-div .service-div img {
  width: 91.02px;
  height: 91.02px;
  margin-right: 24px;
}
.whatWeDo-article .serviceCard-div .serviceContainer-div .serviceBG-div .service-div .serviceText-span {
  text-align: left;
  height: 24px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: inherit;
}

.achievement-article {
  margin-top: 56px;
}
.achievement-article .Container-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 227px;
  height: 399px;
}
.achievement-article .Container-div .text-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 227;
  height: 176px;
}
.achievement-article .Container-div .text-div .pageIndicator-span {
  font-family: "SF Pro Text";
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #232340;
  width: 131px;
  height: 18px;
  display: flex;
  justify-content: space-between;
}
.achievement-article .Container-div .text-div .pageIndicator-span .pageNum {
  color: #8B8B8B;
}
.achievement-article .Container-div .text-div .Title-h1 {
  width: 227px;
  height: 128px;
  left: 32px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.2px;
  color: #232340;
}
.achievement-article .Container-div .successfulProjects-div {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 194px;
  height: 191px;
}
.achievement-article .Container-div .successfulProjects-div .number-span {
  text-align: center;
  width: 177px;
  height: 167px;
  font-weight: 600;
  font-size: 140px;
  line-height: 167px;
  color: #5468E7;
}
.achievement-article .Container-div .successfulProjects-div .text-span {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 195px;
  height: 24px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.pic_pagination-div {
  margin-top: 20.23px;
  width: 375px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pic_pagination-div .phone {
  z-index: 3;
  width: 375px;
  height: 555px;
}
.pic_pagination-div .circle {
  z-index: 2;
  position: absolute;
  margin-top: 104.77px;
  background-color: #FFC7DF;
  width: 330px;
  height: 330px;
  border-radius: 50%;
}
.pic_pagination-div .pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 69px;
  height: 12px;
}
.pic_pagination-div .pagination .point {
  border-radius: 50%;
  width: 5.69px;
  height: 5.69px;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.30171);
  transition: all ease-in-out 0.1s;
}
.pic_pagination-div .pagination .point:hover {
  background-color: #3A8FFF;
}

body {
  margin: 0;
  font-family: "SF Pro Display";
}

main section {
  margin-top: 128px;
}
main section article {
  margin-left: 32px;
  display: flex;
  flex-direction: column;
}
main .hero-section {
  height: 684px;
}
main .services-section {
  height: 1691px;
}/*# sourceMappingURL=styles.css.map */