@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SF_Pro_display/SF-Pro-Display-Bold.ttf");
}
@font-face {
  font-family: "SF Pro Display Regular";
  src: url("../fonts/SF_Pro_display/SF-Pro-Display-Regular.ttf");
}
@font-face {
  font-family: "SF Pro Text";
  src: url("../fonts/SF_Pro_display/sf-pro-text-regular.ttf");
}
/* Fonts */
/* Colors */
/* General mixins */
/* Flex mixins */
/* Fonts */
/* Colors */
/* General mixins */
/* Flex mixins */
/* Fonts */
/* Colors */
/* General mixins */
/* Flex mixins */
.mobile_open_menu-div {
  width: 100%;
  height: 100vh;
  display: flex;
  top: -100vh;
  z-index: 998;
  position: absolute;
  background-image: url("../img/backgrounds/header/Mobile-menu.svg");
  flex-direction: column;
  align-items: flex-start;
  transition: all ease-in-out 0.1s;
}
.mobile_open_menu-div .burger-menu {
  cursor: pointer;
  height: 32px;
}
.mobile_open_menu-div .mobile_open_menu_items-ul {
  width: 122px;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 138px 0px 0px 32px;
  padding: 0;
  list-style: none;
}
.mobile_open_menu-div .mobile_open_menu_items-ul a {
  color: inherit;
  text-decoration: none;
}
.mobile_open_menu-div .mobile_open_menu_items-ul a:hover {
  color: white;
  cursor: pointer;
}
.mobile_open_menu-div .mobile_open_menu_items-ul li {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  height: 40px;
  margin: 0;
  font-family: "SF Pro Display";
  letter-spacing: -0.5px;
  color: #595976;
  transition: all ease-in-out 0.1s;
}
.mobile_open_menu-div .mobile_open_menu_items-ul li:nth-child(1) {
  height: 41px;
}
.mobile_open_menu-div .mobile_open_menu_items-ul li:nth-child(4) {
  height: 41px;
}
.mobile_open_menu-div .bottom_icons-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 184px;
  height: 40px;
  margin: 146px 0px 0px 46px;
}
.mobile_open_menu-div .bottom_icons-div img {
  width: 40px;
  height: 40px;
  transition: all ease-in-out 0.2s;
}
.mobile_open_menu-div .bottom_icons-div img:hover {
  cursor: pointer;
  filter: brightness(0) invert(1);
}
.mobile_open_menu-div .bottom_icons-div .fb {
  filter: invert(55%) sepia(49%) saturate(0%) hue-rotate(185deg) brightness(121%) contrast(75%);
}

.show {
  top: 0;
}

header {
  width: 100vw;
  height: 128px;
  border: none;
  z-index: 5;
  top: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .logo_burger {
  width: 100%;
  height: 100%;
  z-index: 999;
  position: absolute;
  display: flex;
  justify-content: space-between;
}
header .logo_burger a {
  cursor: pointer;
}
header .logo_burger .logo_image_name-div {
  width: 127.2px;
  height: 32px;
  display: flex;
  margin-top: 52px;
  margin-left: 32px;
  cursor: pointer;
}
header .logo_burger .logo_image_name-div .logoSymbol {
  width: 32px;
  height: 32px;
}
header .logo_burger .logo_image_name-div .logoTxt {
  width: 66.4px;
  height: 23.87px;
  transition: all ease-in-out 0.2s;
  margin-top: 4.35px;
  margin-left: 12.8px;
}
header .logo_burger .burger-div {
  width: 32px;
  height: 12px;
  margin-top: 62px;
  margin-right: 32px;
  cursor: pointer;
}
header .logo_burger .burger-div .bars {
  transition: all ease-in-out 0.2s;
  position: absolute;
}
header .logo_burger .burger-div .bars:nth-child(2) {
  margin-top: 8px;
}

.changeHeader .logoTxt {
  filter: brightness(0) invert(1);
}
.changeHeader .bars {
  filter: brightness(0) invert(1);
}
.changeHeader .bars:nth-child(1) {
  transform: rotate(45deg) translate(0px, 5.5px);
}
.changeHeader .bars:nth-child(2) {
  transform: rotate(-45deg) translate(0px, -5.5px);
}

/* Fonts */
/* Colors */
/* General mixins */
/* Flex mixins */
.heroBG {
  top: 0;
  position: absolute;
  background-image: url("../img/backgrounds/hero/bg.svg");
  width: 100%;
  height: 812px;
}

.hero-section .Container-div {
  width: 311px;
  height: 356px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 4;
}
.hero-section .Container-div .typography-div {
  height: 276px;
}
.hero-section .Container-div .typography-div .Title-h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: #232340;
  margin: 0;
  height: 168px;
  letter-spacing: -0.5px;
  margin-bottom: 24px;
}
.hero-section .Container-div .typography-div .Text-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  font-family: "SF Pro Display Regular";
  color: #606060;
}
.hero-section .Container-div .recentWork-btn {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  width: 160px;
  height: 56px;
  color: white;
  border: none;
  text-align: center;
  background-color: #5468E7;
  border-radius: 8px;
  letter-spacing: 0px;
}
.hero-section img {
  position: absolute;
  overflow: hidden;
}
.hero-section .heroPath-img {
  width: 456.68px;
  height: 582.58px;
  z-index: 1;
  margin-left: 176px;
  top: -15.31px;
}
.hero-section .heroBg-img {
  width: 287px;
  height: 363.51px;
  z-index: 2;
  margin-left: 155px;
  top: 448.77px;
}
.hero-section .heroGraphic-img {
  width: 725px;
  height: 515.56px;
  z-index: 3;
  margin-left: -217px;
  top: 337px;
}

/* Fonts */
/* Colors */
/* General mixins */
/* Flex mixins */
/* Fonts */
/* Colors */
/* General mixins */
/* Flex mixins */
.achievement-section {
  margin-top: 56px;
}
.achievement-section .Container-div {
  width: 227px;
  height: 399px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.achievement-section .Container-div .text-div {
  width: 227px;
  height: 188px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.achievement-section .Container-div .text-div .pageIndicator-span {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  font-family: "SF Pro Text";
  width: 131px;
  height: 18px;
  width: 156px;
  height: 24px;
  color: #5468E7;
}
.achievement-section .Container-div .text-div .pageIndicator-span .pageNum {
  width: 27px;
  height: 24px;
}
.achievement-section .Container-div .text-div .pageIndicator-span .pageName {
  width: 105px;
  height: 24px;
}
.achievement-section .Container-div .text-div .Title-h6 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  width: 227px;
  height: 129px;
  left: 32px;
  letter-spacing: -0.2px;
  color: #232340;
}
.achievement-section .Container-div .successfulProjects-div {
  width: 194px;
  height: 191px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 32px;
}
.achievement-section .Container-div .successfulProjects-div .number-span {
  font-weight: 600;
  font-size: 140px;
  line-height: 167px;
  width: 177px;
  height: 167px;
  text-align: center;
  color: #5468E7;
}
.achievement-section .Container-div .successfulProjects-div .text-span {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  width: 195px;
  height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: black;
}

.pic_pagination-div {
  width: 375px;
  height: 600px;
  margin-top: 20.23px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pic_pagination-div .phone {
  width: 375px;
  height: 555px;
  z-index: 3;
}
.pic_pagination-div .circle {
  width: 330px;
  height: 330px;
  z-index: 2;
  position: absolute;
  margin-top: 104.77px;
  background-color: #FFC7DF;
  border-radius: 50%;
}
.pic_pagination-div .pagination {
  width: 69px;
  height: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pic_pagination-div .pagination .point {
  width: 5.69px;
  height: 5.69px;
  border-radius: 50%;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.30171);
}
.pic_pagination-div .pagination .point:hover {
  background-image: linear-gradient(180deg, #3A8FFF 0%, #0837AE 100%);
}

.servicesBG {
  top: 0;
  position: absolute;
  background-image: url("../img/backgrounds/services/bg.svg");
  width: 100%;
  height: 1344px;
}

.whatWeDo-section {
  height: 1216px;
}
.whatWeDo-section .Container-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 227px;
  height: 304px;
  z-index: 1;
}
.whatWeDo-section .Container-div .text-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 234px;
}
.whatWeDo-section .Container-div .text-div .pageIndicator-span {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  font-family: "SF Pro Text";
  width: 131px;
  height: 18px;
  color: #5468E7;
}
.whatWeDo-section .Container-div .text-div .Title-h4 {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  width: 227px;
  height: 192px;
  margin: 0;
  letter-spacing: -0.4px;
  color: #232340;
}
.whatWeDo-section .Container-div .arrow-span {
  width: 108px;
  height: 46px;
  display: flex;
  justify-content: right;
  margin-top: 24px;
}
.whatWeDo-section .Container-div .arrow-span img {
  width: 46px;
  height: 46px;
}
.whatWeDo-section .serviceCard-div {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  width: 311px;
  height: 856px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  margin-top: 56px;
  text-align: left;
  color: #5468E7;
}
.whatWeDo-section .serviceCard-div .serviceContainer-div {
  width: 311px;
  height: 214px;
  display: flex;
  align-items: flex-start;
}
.whatWeDo-section .serviceCard-div .serviceContainer-div .serviceBG-div {
  width: 311px;
  height: 190px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  border-radius: 32px;
  transition: all ease-in-out 0.1s;
}
.whatWeDo-section .serviceCard-div .serviceContainer-div .serviceBG-div:hover {
  background-color: #5468E7;
  color: white;
  cursor: pointer;
}
.whatWeDo-section .serviceCard-div .serviceContainer-div .serviceBG-div .service-div {
  width: 185px;
  height: 91.02px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  margin-left: 48px;
}
.whatWeDo-section .serviceCard-div .serviceContainer-div .serviceBG-div .service-div img {
  width: 91.02px;
  height: 91.02px;
  margin-right: 24px;
}
.whatWeDo-section .serviceCard-div .serviceContainer-div .serviceBG-div .service-div .serviceText-span {
  height: 24px;
  color: inherit;
}

/* Fonts */
/* Colors */
/* General mixins */
/* Flex mixins */
/* Fonts */
/* Colors */
/* General mixins */
/* Flex mixins */
.portfolios-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 313px;
  height: 3047.56px;
  margin-top: 56px;
}
.portfolios-container .portfolio-div {
  width: 313px;
  height: 583.56px;
}
.portfolios-container .portfolio-div .imgContainer-div {
  width: 311px;
  height: 355.56px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 17.0667px;
}
.portfolios-container .portfolio-div .text-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 312px;
}
.portfolios-container .portfolio-div .text-div .title {
  display: flex;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  width: 312px;
  height: 32px;
  letter-spacing: -0.2px;
  color: #232340;
}
.portfolios-container .portfolio-div .text-div p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  width: 228px;
  height: 84px;
  font-family: "SF Pro Display Regular";
  color: #606060;
  margin: 0;
}
.portfolios-container .portfolio-div .arrow {
  width: 48px;
  height: 48px;
  margin-top: 24px;
}
.portfolios-container .portfolio-div:nth-child(1) {
  width: 312.11px;
}
.portfolios-container .portfolio-div:nth-child(1) .imgContainer-div {
  background-color: #FFBA79;
}
.portfolios-container .portfolio-div:nth-child(1) .portfolioImg {
  width: 311px;
  height: 313px;
}
.portfolios-container .portfolio-div:nth-child(1) .text-div {
  margin-top: 29.44px;
  height: 126.56px;
}
.portfolios-container .portfolio-div:nth-child(2) {
  width: 312.11px;
}
.portfolios-container .portfolio-div:nth-child(2) .imgContainer-div {
  background-color: #E8BEFF;
}
.portfolios-container .portfolio-div:nth-child(2) .portfolioImgg {
  width: 311px;
  height: 309px;
}
.portfolios-container .portfolio-div:nth-child(2) .text-div {
  margin-top: 34.44px;
  height: 121.56px;
}
.portfolios-container .portfolio-div:nth-child(3) .imgContainer-div {
  background-color: #FFCE79;
}
.portfolios-container .portfolio-div:nth-child(3) .portfolioImg {
  width: 311px;
  height: 321px;
}
.portfolios-container .portfolio-div:nth-child(3) .text-div {
  margin-top: 39.44px;
  height: 116.56px;
}
.portfolios-container .portfolio-div:nth-child(4) .imgContainer-div {
  background-color: #D1ECFD;
}
.portfolios-container .portfolio-div:nth-child(4) .portfolioImg {
  width: 311px;
  height: 345px;
}
.portfolios-container .portfolio-div:nth-child(4) .text-div {
  margin-top: 49.44px;
  height: 111.56px;
}
.portfolios-container .portfolio-div:nth-child(5) .imgContainer-div {
  background-color: #FFBA79;
}
.portfolios-container .portfolio-div:nth-child(5) .portfolioImg {
  width: 311px;
  height: 306px;
}
.portfolios-container .portfolio-div:nth-child(5) .text-div {
  margin-top: 49.44px;
  height: 106.56px;
}

/* Fonts */
/* Colors */
/* General mixins */
/* Flex mixins */
.cta-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 0;
  align-items: center;
}
.cta-section img {
  position: absolute;
  overflow: hidden;
}
.cta-section .bg {
  width: 342.91px;
  height: 977px;
  position: absolute;
  background-repeat: no-repeat;
  background-position: right;
  background-image: url("../img/backgrounds/work/cta/bg_cta.svg");
  align-self: flex-end;
  width: 100vw;
}
.cta-section .phoneBG {
  margin-top: 408px;
}
.cta-section .Container-div {
  width: 261px;
  height: 344px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
  margin-top: 64px;
  margin-left: 39.91px;
}
.cta-section .Container-div .indicator_title-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 261px;
  height: 269px;
  text-align: left;
}
.cta-section .Container-div .indicator_title-div .pageIndicator-span {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  font-family: "SF Pro Text";
  width: 131px;
  height: 18px;
  font-family: "SF Pro Text";
  width: 138px;
  color: white;
}
.cta-section .Container-div .indicator_title-div .Title-h3 {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  width: 261px;
  height: 226px;
  margin: 0;
  letter-spacing: -0.5px;
  font-family: "SF Pro Display";
  color: white;
}
.cta-section .Container-div .recentWork-btn {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  width: 146px;
  height: 46px;
  color: #5468E7;
  border: none;
  text-align: center;
  background-color: white;
  border-radius: 8px;
  cursor: pointer;
}

.famousProjects-section {
  height: 3484px;
}
.famousProjects-section .Container-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 311px;
  height: 238px;
}
.famousProjects-section .Container-div .indicator_title-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 255px;
  height: 139px;
  text-align: left;
}
.famousProjects-section .Container-div .indicator_title-div .pageIndicator-span {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  font-family: "SF Pro Text";
  width: 131px;
  height: 18px;
  width: 161px;
  color: #5468E7;
}
.famousProjects-section .Container-div .indicator_title-div .Title-h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  width: 255px;
  height: 96px;
  margin: 0;
  letter-spacing: -0.4px;
  font-family: "SF Pro Display";
  color: #232340;
}
.famousProjects-section .Container-div .parag-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  width: 311px;
  height: 86px;
  font-family: "SF Pro Display Regular";
  text-align: left;
  margin: 0;
  color: #606060;
}
.famousProjects-section .contactUs-btn {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  width: 313px;
  height: 46px;
  margin-top: 48.44px;
  background-color: #5468E7;
  color: white;
  border: none;
  border-radius: 8px;
}

/* Fonts */
/* Colors */
/* General mixins */
/* Flex mixins */
.job-article {
  overflow: hidden;
  height: 1042px;
}
.job-article .jobsBG {
  top: 0;
  position: absolute;
  background-image: url("../img/backgrounds/job/bg.svg");
  width: 100%;
  height: 1170px;
}
.job-article .weAreHiring-section .Container-div {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 311px;
  height: 198px;
}
.job-article .weAreHiring-section .Container-div .text-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 227px;
  height: 91px;
}
.job-article .weAreHiring-section .Container-div .text-div .pageIndicator-span {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  font-family: "SF Pro Text";
  width: 131px;
  height: 18px;
  width: 138px;
  height: 18px;
  color: #5468E7;
}
.job-article .weAreHiring-section .Container-div .text-div .Title-h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  width: 227px;
  height: 48px;
  margin: 0;
  letter-spacing: -0.4px;
  color: #232340;
}
.job-article .weAreHiring-section .parag-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  width: 311px;
  height: 84px;
  font-family: "SF Pro Display Regular";
  text-align: left;
  margin: 0;
  color: #606060;
}
.job-article .weAreHiring-section .jobsContainer-div {
  z-index: 1;
  width: 343px;
  height: 764px;
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  align-items: left;
}
.job-article .weAreHiring-section .jobsContainer-div .jobCard {
  width: 311px;
  height: 191px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.job-article .weAreHiring-section .jobsContainer-div .jobCard .jobBG {
  width: 311px;
  height: 175px;
  background: #FFFFFF;
  border-radius: 24px;
  transition: all ease-in-out 0.1s;
}
.job-article .weAreHiring-section .jobsContainer-div .jobCard .jobBG:hover {
  background: #232340;
  color: white;
}
.job-article .weAreHiring-section .jobsContainer-div .jobCard .jobBG:hover .parag-p {
  color: #8B8B8B;
}
.job-article .weAreHiring-section .jobsContainer-div .jobCard .jobBG:hover img {
  filter: brightness(0) invert(1);
}
.job-article .weAreHiring-section .jobsContainer-div .jobCard .jobBG .text {
  width: 187px;
  height: 64px;
  display: flex;
  flex-direction: column;
  margin-top: 45.61px;
  margin-left: 40px;
}
.job-article .weAreHiring-section .jobsContainer-div .jobCard .jobBG .text .parag-p {
  width: 126px;
  height: 28px;
}
.job-article .weAreHiring-section .jobsContainer-div .jobCard .jobBG .text .jobName {
  width: 187px;
  height: 32px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.2px;
  color: inherit;
}
.job-article .weAreHiring-section .jobsContainer-div .jobCard .jobBG img {
  width: 9.96px;
  height: 14.22px;
  margin-top: 10.67px;
  margin-left: 40px;
}
.job-article .weAreHiring-section .jobsContainer-div .jobCard:nth-child(1) .text {
  width: 187px;
  height: 64px;
}
.job-article .weAreHiring-section .jobsContainer-div .jobCard:nth-child(2) .text {
  width: 156px;
  height: 56px;
}
.job-article .weAreHiring-section .jobsContainer-div .jobCard:nth-child(3) .text {
  width: 126px;
  height: 64px;
}
.job-article .weAreHiring-section .jobsContainer-div .jobCard:nth-child(4) .text {
  width: 191px;
  height: 64px;
}

/* Fonts */
/* Colors */
/* General mixins */
/* Flex mixins */
.footer-article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  justify-content: space-between;
}
.footer-article .footerBG {
  position: absolute;
  background-image: url("../img/backgrounds/footer/footer_bg.svg");
  width: 100%;
  height: 977px;
}
.footer-article .Container-div {
  z-index: 1;
  width: 312px;
  height: 943px;
}
.footer-article .Container-div .contact-div {
  width: 312px;
  height: 548px;
  display: flex;
  flex-direction: column;
  background-image: url("../img/backgrounds/footer/Contact.svg");
}
.footer-article .Container-div .contact-div p {
  margin: 0;
}
.footer-article .Container-div .contact-div .bubble-img {
  width: 73px;
  height: 73px;
  margin-top: 49px;
  margin-left: 139px;
}
.footer-article .Container-div .contact-div .text-top {
  width: 236px;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
  align-items: center;
}
.footer-article .Container-div .contact-div .text-top .hello-span {
  width: 90px;
  height: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
.footer-article .Container-div .contact-div .text-top .hello-span .emoji {
  width: 14px;
  height: 18px;
}
.footer-article .Container-div .contact-div .text-top .hello-span .phrase {
  width: 63px;
  height: 18px;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  font-family: "SF Pro Display";
  color: white;
}
.footer-article .Container-div .contact-div .text-top .paragraph {
  width: 236px;
  height: 72px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  font-family: "SF Pro Display";
  text-align: center;
  color: white;
}
.footer-article .Container-div .contact-div .text-bottom {
  width: 263px;
  height: 173px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
  align-items: center;
  margin-top: 85px;
}
.footer-article .Container-div .contact-div .text-bottom .nextProject-p {
  width: 260px;
  height: 81px;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  font-family: "SF Pro Display";
  letter-spacing: -0.5px;
  text-align: center;
  color: white;
}
.footer-article .Container-div .contact-div .text-bottom .contact-btn {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  width: 263px;
  height: 56px;
  color: #5468E7;
  border: none;
  text-align: center;
  background-color: white;
  border-radius: 8px;
  cursor: pointer;
}
.footer-article .Container-div .footer-div {
  width: 311px;
  height: 315px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 80px;
  align-items: center;
}
.footer-article .Container-div .footer-div .logo-div {
  width: 136px;
  height: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer-article .Container-div .footer-div .logo-div .logoSymbol {
  width: 34.2px;
  height: 35px;
}
.footer-article .Container-div .footer-div .logo-div .logoTxt {
  width: 70.99px;
  height: 26.11px;
  margin-left: 13.69px;
}
.footer-article .Container-div .footer-div .text-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  width: 256px;
  height: 56px;
  font-family: "SF Pro Display Regular";
  color: #ADADAD;
  text-align: center;
}
.footer-article .Container-div .footer-div .dropdown {
  width: 311px;
  height: 48px;
  border: 1px solid #D8D8D8;
  border-radius: 8px;
  outline: none;
  padding-left: 24px;
  padding-right: 24px;
  color: #606060;
  background-color: transparent;
}
.footer-article .Container-div .footer-div .dropdown .option {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  width: 77px;
  height: 16px;
  font-family: "SF Pro Text";
}
.footer-article .Container-div .footer-div .bottom-div {
  width: 136px;
  height: 88px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.footer-article .Container-div .footer-div .bottom-div .icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  filter: invert(55%) sepia(49%) saturate(0%) hue-rotate(185deg) brightness(121%) contrast(75%);
}
.footer-article .Container-div .footer-div .bottom-div .copyright {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  width: 103px;
  height: 16px;
  color: #ADADAD;
  font-family: "SF Pro Display Regular";
  text-align: center;
}

body {
  margin: 0;
  font-family: "SF Pro Display";
}

main article {
  margin-top: 128px;
}
main article section {
  margin-left: 32px;
  display: flex;
  flex-direction: column;
}
main .hero-article {
  height: 684px;
}
main .cta-article {
  height: 977px;
}
main .services-article {
  height: 1691px;
}
main .footer-article {
  height: 977px;
}/*# sourceMappingURL=styles.css.map */